[submodule "deps/nya"]
	path = deps/nya
	url = git@github.com:nyacpp/nya.git
	branch = master
[submodule "deps/easyloggingpp"]
	path = deps/easyloggingpp
	url = git@github.com:amrayn/easyloggingpp.git
	branch = master
